
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/index">CRM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/hrc">HR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/inc">Inventory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/puc">Purchase</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/sac">Sales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/ep">Engineering And Production</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/fa">Finance And Accounting</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/scc">Supply Chain Management</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>


<div class="container">
  <router-outlet></router-outlet>
</div>